extends layout.pug

block content
  head
    title My Pug Page
    script.
      var count = 20
      var change = -1
      function doReduce() {
        const div = document.getElementById("reduce");
        count = count + change 
        change -= 1
        div.innerHTML = "Count " + count + " change " + change;
      }
  body
    h1 Welcome to my Pug Page!
    button(onclick="doReduce()") Click me!
    div#reduce
      
