extends layout.pug

block content
  head
    title
    script.
      window.onload = function() {
        var result = []
        result.push(#{results})
        console.log(result)
        result.forEach(myfunction)
        function myfunction(x){
          console.log(x);
          document.getElementById("table").innerHTML += `<div class='row'><div class='col-sm-2'>` + x.Length + `</div> <div class='col-sm-2'>` + x.Material + `</div> <div class='col-sm-2'>` + x.Location + `</div></div>`;
        }
      }
  body
    h1= {results}
    div 
    div.container-fluid#table
      div#row.row
        
    
      
